@import url('./assets/images/icons/icon.css');
@import url(assets/fonts/font.css);
@import url(assets/css/normilaze.css);
@import url(assets/css/auth.css);
@import url(assets/css/faq.css);

header{
    background: #111111;
   width: 100%;
   height: 144px;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 10;
 
   display: flex;
   align-items: center;
   justify-content: center;
}
header p{
  color: red;
   font-size: 30px;
}
@media screen and (max-width: 576px) {
    header{
  height: 90px;
    }
    header p{
          font-size: 20px;
    }
}
.text-wrap{
  display: block;
}