@import url("./assets/images/icons/icon.css");
@import url(assets/fonts/font.css);
@import url(assets/css/normilaze.css);
@import url(assets/css/auth.css);
@import url(assets/css/faq.css);
@import url(assets/css/seasonal-event.css);
@import url(assets/css/similar-products.css);
@import url(assets/css/reviews.css);
@import url(assets/css/control-game.css);
@import url(assets/css/creating-ticket.css);
@import url(assets/css/not-found.css);
@import url(assets/css/payment-order.css);
@import url(assets/css/quiz.css);
@import url(assets/css/benefit-season.css);
@import url(assets/css/confirmation-purchase.css);

header {
  background: #111111;
  width: 100%;
  height: 144px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}
header p {
  color: red;
  font-size: 30px;
}
.desktop-text-wrap {
  display: block;
}
.text-wrap {
  display: block;
}
@media screen and (max-width: 576px) {
  .desktop-text-wrap {
    display: inline;
  }

  header {
    height: 90px;
  }
  header p {
    font-size: 20px;
  }
}
