@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Medium.woff2") format("woff2"),
    url("./Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Bold.woff") format("woff2"),
    url("./Gilroy-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-SemiBold.woff2") format("woff2"),
    url("./Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Regular.woff2") format("woff2"),
    url("./Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Jim Nightshade";
  src: url("./JimNightshade-Regular.woff2") format("woff2"),
    url("./JimNightshade-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Benzin-Bold';
  src: url("./benzin-bold.woff2") format("woff2"),
    url("./benzin-bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
