/* ==============Общие стили для UP-GAME И DragonHack =========*/

.not-found-section {
  padding: 242px 0 40px 0;
}

.not-found-container {
  max-width: 1688px;
  width: 100%;
  padding: 0 14px;
  margin: 0 auto;
}
.not-found-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-radius: 8px;
  padding: 50px 14px;
  min-height: 757px;
}
.not-found-titles p {
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
.not-found-titles span {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff80;
  margin-top: 25px;
  display: block;
  text-align: center;
}
.not-found-link {
  padding: 21px 158px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 2;
  transition: 0.3s;
}
.not-found-link:hover {
  color: black;
}
.not-found-blur {
  position: absolute;
  width: 237px;
  height: 248px;
  filter: blur(58px);
  -webkit-filter: blur(58px);
  min-width: 237px;
  z-index: -1;
}

.not-found-number {
  font-size: 429.44px;
  line-height: 102%;
  margin-top: 40px;
}

/* ===== DragonHack STYLE======= */

.b-not-found-wrapper {
  background: linear-gradient(0deg, #10121e, #10121e);
  min-height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.b-not-found-body {
  border: 1px solid #ffffff33;
  background: #0f111c;
}

.b-not-found-number {
  font-weight: 900;
  background: radial-gradient(circle at 51% 55%, #ffffff 0%, #0f111c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.b-not-found-link {
  background: radial-gradient(
      70.01% 728.48% at 45.08% 77.53%,
      #dd123d 0%,
      #0e101c 100%
    ),
    linear-gradient(0deg, #0e101c, #0e101c);
}
.b-not-found-img {
  max-width: 469px;
  width: 100%;
  position: absolute;
  top: 152px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.b-not-found-img img {
  width: 100%;
  height: 100%;
}
.b-not-found-blur {
  background: #ffffff;
  top: 304px;
  left: 50%;
  transform: translateX(-50%);
}

/* ===== UP GAME STYLE======= */

.a-not-found-wrapper {
  min-height: 100%;
  overflow: hidden;
  background: #0d0d0d;
  font-family: "Gilroy", sans-serif;
}

.a-not-found-body {
  background: #111111;
}
.a-not-found-number {
  font-weight: 900;
  color: #d9d9d9;
}
.a-not-found-link {
  background: #d9d9d9;
  color: #111111;
}
.a-not-found-link:hover{
    background: #FFCF37;
    color: white;

}
.a-not-found-img {
  max-width: 453px;
  width: 100%;
  position: absolute;
  top: 162px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.a-not-found-img img {
  width: 100%;
  height: 100%;
}
.a-not-found-blur {
  background: #D5DAC8;
  top: 304px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 992px) {
  /* ==============Общие стили для UP-GAME И DragonHack =========*/

  .not-found-number {
    font-size: 229.44px;
    line-height: 102%;
    margin-top: 40px;
  }

  .not-found-img {
    display: none;
  }
  .not-found-blur {
    display: none;
  }
  .not-found-section {
    padding: 142px 0 40px 0;
  }
  .not-found-body {
    min-height: max-content;
  }

  /* ===== DragonHack STYLE======= */
}

@media screen and (max-width: 576px) {
  /* ==============Общие стили для UP-GAME И DragonHack =========*/
  .not-found-link {
    padding: 15px 21px;
    width: 100%;
    font-size: 16px;
  }
  .not-found-number {
    font-size: 129.44px;
    margin-top: 20px;
  }
  .not-found-body {
    padding: 20px 14px;
  }
  .not-found-titles p {
    font-size: 22px;
  }
  .not-found-titles span {
    font-size: 18px;
    margin-top: 15px;
  }
  .not-found-section {
    padding: 80px 0 40px 0;
  }

  /* ===== DragonHack STYLE======= */
}
