.payment-modal-page {
  background: linear-gradient(0deg, #10121e, #10121e);
  min-height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}
.payment-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: scale(0.5);
  padding: 100px 14px 14px 14px;
}
.payment-modal-wrapper.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
}
.payment-modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #050509e5;
  z-index: 2;
}
.payment-modal-cnt {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  max-height: 90vh;
  overflow: auto;
}
.payment-modal-cnt::-webkit-scrollbar {
  width: 3px;
}
.payment-modal-cnt::-webkit-scrollbar-track {
  background: #3f3f3f;
  border-radius: 10px;
}
.payment-modal-cnt::-webkit-scrollbar-thumb {
  background: #626262;
  border-radius: 10px;
}
.payment-modal-cnt::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.open-payment-modal {
  padding: 20px;
  margin: 20px auto 0;
  display: flex;
}
.payment-modal-title {
  padding: 30px;
  border: 1px solid #ffffff33;
  border-radius: 10px;
  width: 100%;
  max-width: 1239px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.payment-title-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.payment-title-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.payment-modal-title p {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
.payment-modal-main {
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  background: linear-gradient(0deg, #0e101c, #0e101c);
  backdrop-filter: blur(42px);
  -webkit-backdrop-filter: blur(42px);
  margin: 42px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #ffffff33;
}
.payment-left-column {
  max-width: 610px;
  width: 100%;
}
.payment-right-column {
  max-width: 672px;
  width: 100%;
}
.payment-goods-clue {
  background: #10121e;
  padding: 3px 15px;
  border: 1px solid #ffffff33;
  border-radius: 5px;
  max-width: max-content;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.04px;
  color: #ffffff99;
}
.payment-products-items {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 10px;
}
.payment-product-item {
  background: #0e101c;
  border: 1px solid #ffffff33;
  border-radius: 10px;
  min-height: 188px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.p-product-item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.payment-product-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(14, 16, 28, 0) 7.29%,
    #0e101c 88.02%
  );
}
.p-product-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-product-item-texts {
  margin-top: auto;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}
.p-product-item-name {
  font-weight: 600;
  font-size: 32px;
  line-height: 23.04px;
  color: #ffffff;
}
.p-product-item-name span {
  color: #dd123d;
}
.p-product-item-term {
  font-weight: 400;
  font-size: 24px;
  line-height: 23.04px;
  color: #ffffff99;
}
.payment-product-line {
  height: 1px;
  background: #ffffff1a;
  width: 100%;
  margin-top: 30px;
}
.select-seller-box {
  margin-top: 30px;
}
.select-seller-header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.select-seller-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 23.04px;
  color: #ffffff;
}
.select-seller-tabs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.select-seller-tab {
  padding: 3px 12px;
  background: #ffffff08;
  border-radius: 10px;
  color: #ffffff66;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}
.select-seller-tab i {
  font-size: 18px;
  background: #ffffff66;
  transition: 0.4s;
}
.select-seller-tab:hover {
  color: #ffffffe5;
}
.select-seller-tab:hover i {
  background: #ffffffe5;
}
.select-seller-tab.active {
  color: #ffffffe5;
}
.select-seller-tab.active i {
  background: #ffffffe5;
}
.select-seller-items {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  padding: 0 0 15px 0;
}
.select-seller-items::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}
.select-seller-items::-webkit-scrollbar-track {
  background: #10121e;
  border: 1px solid #ffffff1a;
  cursor: pointer;
  border-radius: 3px;
}
.select-seller-items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e91443;
  border-radius: 3px;
  cursor: pointer;
}
.select-seller-track {
  display: flex;
  align-items: center;
  gap: 10px;
}
.select-seller-item {
  max-width: 196px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.03) 0%,
    rgba(153, 153, 153, 0.03) 100%
  );
  border-radius: 10px;
  padding: 12px 12px 12px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 2;
  overflow: hidden;
  min-width: 196px;
}
.select-seller-item:hover {
  border: 1px solid #dd123d;
}
.select-seller-item:hover::after {
  opacity: 1;
  visibility: visible;
}
.select-seller-item.active {
  border: 1px solid #dd123d;
}
.select-seller-item.active::after {
  opacity: 1;
  visibility: visible;
}
.select-seller-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background:
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(153, 153, 153, 0.03) 100%
    ),
    radial-gradient(
        68.6% 706.6% at -1.36% 42.5%,
        rgba(221, 18, 61, 0.3) 0%,
        rgba(14, 16, 28, 0.3) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.s-seller-item-img {
  max-width: 36px;
  width: 100%;
  height: 36px;
  display: flex;
}
.s-seller-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.s-seller-item-name {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 175%;
}
.s-seller-item-statistics {
  display: flex;
  align-items: center;
  gap: 10px;
}
.s-seller-item-statistic {
  display: flex;
  align-items: center;
  gap: 5px;
}
.s-seller-item-statistic i {
  background: #dd123d;
  font-size: 20px;
  margin-top: -5px;
}
.s-seller-item-statistic span {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: #ffffffb2;
}
.payment-modal-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  padding: 14.5px;
  background: radial-gradient(
    70.01% 728.48% at 45.08% 77.53%,
    rgba(221, 18, 61, 0.5) 0%,
    rgba(14, 16, 28, 0.5) 100%
  );
  border: 1px solid #ffffff33;
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;
}
.payment-modal-link:hover {
  opacity: 0.7;
}
.select-seller-link {
  width: 100%;
  margin-top: 35px;
}
.p-right-column-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.p-right-column-header p {
  font-weight: 700;
  font-size: 24px;
  line-height: 23.04px;
  color: #ffffff;
}
.p-right-column-header i {
  background: #ffffff99;
  font-size: 17px;
  cursor: pointer;
  transition: 0.4s;
}
.p-right-column-header i:hover {
  background: #e91443;
}
.p-right-column-clue p {
  font-weight: 500;
  font-size: 16px;
  line-height: 23.04px;
  color: #ffffff66;
  margin-top: 27px;
}
.p-right-column-clue p span {
  font-style: Italic;
  display: block;
}
.p-right-column-clue p strong {
  color: #ffffff99;
}
.payment-method-items {
  margin-top: 27px;
  min-width: 690px;
}
.payment-method-track {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  overflow: auto;
  max-height: 460px;
  padding-right: 10px;
}
.payment-method-track::-webkit-scrollbar {
  width: 6px;
}
.payment-method-track::-webkit-scrollbar-track {
  background: #10121e;
  border: 1px solid #ffffff1a;
  cursor: pointer;
  border-radius: 3px;
}
.payment-method-track::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e91443;
  border-radius: 3px;
  cursor: pointer;
}
.payment-method-item {
  background: #0c0e19;
  border: 1px solid #ffffff33;
  border-radius: 5px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 31.5%;

  border: 1px solid #ffffff33;
  transition: 0.3s;
  cursor: pointer;
}
.payment-method-item:hover {
  border: 1px solid #dd123d;
}
.payment-method-item.active {
  border: 1px solid #dd123d;
}
.payment-inputs-block {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-email-input {
  width: 100%;
}
.payment-email-input label {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 18px 15px;
  background: #0a0c17;
  border: 1px solid #ffffff33;
  border-radius: 5px;
  transition: 0.4s;
}
.payment-email-input label i {
  font-size: 24px;
  background: #ffffff66;
}
.payment-email-input label input {
  width: 100%;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.04px;
  color: white;
}
.payment-email-input label.active {
  border: 1px solid #ffc700;
}
.payment-email-input label input::placeholder {
  color: #ffffff66;
}

.payment-promoCode-input {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff33;
  border-radius: 5px;
  overflow: hidden;
}
.payment-promoCode-input label {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #0a0c17;
  transition: 0.4s;
  width: 100%;
  padding: 16px 15px;
}
.payment-promoCode-input label i {
  font-size: 24px;
  background: #ffffff66;
}
.payment-promoCode-input input {
  width: 100%;
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.04px;
  color: white;
}
.payment-promoCode-input label.active {
  border: 1px solid #ffc700;
}
.payment-promoCode-input label input::placeholder {
  color: #ffffff66;
}

.payment-promoCode-input a {
  padding: 17px 47px;
  background: linear-gradient(
    90.25deg,
    rgba(221, 18, 61, 0.4) 0.22%,
    rgba(119, 10, 33, 0.4) 99.8%
  );
  font-weight: 500;
  font-size: 16px;
  line-height: 23.04px;
  color: #ffffff;
  transition: 0.3s;
}
.payment-promoCode-input a:hover {
  opacity: 0.7;
}
.p-product-count-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.p-product-count {
  display: flex;
  align-items: center;
  gap: 5px;
}
.p-product-count button {
  padding: 15px;
  background: #10121e;
  border: 1px solid #ffffff1a;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.04px;
  color: #ffffff4d;
  transition: 0.3s;
  flex: 0 0 40px;
}
.p-product-length {
  background: #10121e;
  padding: 15px;
  border: 1px solid #ffffff1a;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.04px;
  color: #ffffffcc;
  flex: 0 0 80px;
}
.p-product-count button:hover {
  border: 1px solid #dd123d;
  color: #dd123d;
}
.payment-instructions {
  padding: 15px;
  width: 100%;
  background: #0a0c1780;
  border-radius: 5px;
  border: 1px solid #ffffff1a;
  max-width: 420px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.04px;
  text-align: center;
  color: #ffffff66;
  transition: 0.3s;
}
.payment-instructions:hover {
  border: 1px solid #dd123d;
  color: #dd123d;
}
.total-payment-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-payment-wrapper p {
  font-weight: 600;
  font-size: 24px;
  line-height: 23.04px;
  color: #ffffff;
}
.payment-auth-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.payment-auth-wrapper p {
  max-width: 300px;
  font-weight: 500;
  font-size: 18px;
  line-height: 146%;
  color: #999999;
  width: 100%;
}
.payment-auth-wrapper a {
  padding: 14.5px 67px;
  background: radial-gradient(
    70.01% 728.48% at 45.08% 77.53%,
    rgba(221, 18, 61, 0.5) 0%,
    rgba(14, 16, 28, 0.5) 100%
  );
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  transition: 0.3s;
  border: 1px solid #ffffff33;
  border-radius: 5px;
}
.payment-auth-wrapper a:hover {
  opacity: 0.7;
}
.replenishment-amount-column {
  margin-top: 55px;
}
.balance-replenishment-close {
  position: absolute;
  top: 43px;
  right: 43px;
}
.balance-replenishment-close i {
  background: #ffffff99;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.balance-replenishment-close i:hover {
  background: white;
}
.replenishment-amount-block {
  padding: 20px 30px;
  background: #0e101c;
  border-radius: 10px;
  border: 1px solid #ffffff33;
  position: relative;
  z-index: 2;
}
.replenishment-amount-img {
  position: absolute;
  max-width: 150px;
  width: 100%;
  right: 19px;
  bottom: 0;
  display: flex;
}
.replenishment-amount-img img {
  width: 100%;
  height: 100%;
}
.replenishment-amount-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23.04px;
  color: #ffffff66;
}
.replenishment-amount-info {
  max-width: 365px;
  width: 100%;
  position: relative;
  z-index: 3;
}
.replenishment-input-wrapper {
  max-width: 365px;
  width: 100%;
  border: 1px solid #ffffff33;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.replenishment-input-wrapper label {
  width: 100%;
  height: 59px;
  position: relative;
  z-index: 2;
}
.replenishment-input-wrapper label i {
  position: absolute;
  left: 15px;
  top: 18px;
  font-size: 20px;
  background: #ffffff66;
}
.replenishment-input-wrapper label input {
  padding: 18px 18px 18px 45px;
  background: #0a0c17;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.04px;
  color: white;
  border-radius: 5px;
}
.replenishment-currency-block {
  max-width: 60px;
  width: 100%;
  background: #0e101c;
  border-left: 1px solid #ffffff33;
  position: relative;
  z-index: 2;
  border-radius: 0 5px 5px 0;
}
.replenishment-currency-block.active .replenishment-currency-options {
  opacity: 1;
  visibility: visible;
  top: 70px;
}
.replenishment-currency-select {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  height: 60px;
  width: 100%;
  cursor: pointer;
}
.replenishment-currency-select p {
  color: #ffffff;
  font-size: 22px;
}
.replenishment-currency-select i {
  font-size: 8px;
  background: #ffffff;
}
.replenishment-currency-options {
  position: absolute;
  left: 0;
  top: 65px;
  background: #0e101c;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.r-currency-option {
  font-weight: 500;
  font-size: 18px;
  line-height: 23.04px;
  color: #ffffff;
  cursor: pointer;
}
.amount-money-items {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 13px;
}
.amount-money-item {
  cursor: pointer;
  background: #10121e;
  padding: 8px 15px;
  border: 1px solid #ffffff33;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.04px;
  color: #ffffff99;
}
.replenishment-promoCode-input {
  margin-top: 30px;
}
.replenishment-total-paid-wrapper {
  margin-top: 25px;
}
.total-paid-price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.total-paid-price p {
  font-weight: 600;
  font-size: 24px;
  line-height: 23.04px;
  color: #ffffff;
}
.promo-code-block {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.promo-code-block span {
  font-weight: 500;
  font-size: 15px;
  line-height: 23.04px;
  color: #ffffff66;
}
.promo-code-sum {
  font-weight: 600;
  font-size: 16px;
  line-height: 23.04px;
  color: #ffffffb2;
}

.r-proceed-payment-link {
  margin-top: 25px;
  padding: 14.5px;
  background: radial-gradient(
    70.01% 728.48% at 45.08% 77.53%,
    rgba(221, 18, 61, 0.5) 0%,
    rgba(14, 16, 28, 0.5) 100%
  );
  border: 1px solid #ffffff33;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.r-proceed-payment-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1450px) {
  .payment-method-items {
    min-width: unset;
  }
}

@media screen and (max-width: 1300px) {
  .payment-left-column {
    max-width: 510px;
  }
}
@media screen and (max-width: 1200px) {
  .payment-modal-main {
    padding: 20px;
  }
}
@media screen and (max-width: 992px) {
  .payment-modal-main {
    flex-direction: column-reverse;
  }
  .replenishment-modal-main {
    flex-direction: column;
  }
  .payment-left-column {
    max-width: 100%;
  }
  .payment-right-column {
    max-width: 100%;
  }
  .payment-auth-wrapper a {
    padding: 14.5px 27px;
  }
  .replenishment-amount-column {
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .payment-modal-title p {
    font-size: 18px;
  }
  .payment-modal-wrapper {
    padding: 40px 14px 14px 14px;
  }
  .payment-modal-main {
    margin: 20px auto 0;
  }
  .p-right-column-header p {
    font-size: 18px;
    line-height: 21px;
  }
  .p-right-column-header i {
    font-size: 15px;
  }
  .p-right-column-clue p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
  }
  .p-product-item-name {
    font-size: 20px;
    line-height: 21px;
  }
  .p-product-item-term {
    font-size: 18px;
    line-height: 21px;
  }
  .payment-product-item {
    padding: 15px;
  }
  .payment-product-line {
    margin-top: 15px;
  }
  .select-seller-title {
    font-size: 18px;
    line-height: 21px;
  }
  .select-seller-tab {
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 150%;
    gap: 6px;
  }
  .select-seller-tab i {
    font-size: 16px;
  }
  .s-seller-item-name {
    font-size: 16px;
    line-height: 155%;
  }
  .s-seller-item-statistic i {
    font-size: 15px;
    margin-top: -2px;
  }
  .s-seller-item-statistic span {
    font-size: 13px;
    line-height: 100%;
  }
  .s-seller-item-img {
    max-width: 26px;
    height: 26px;
  }
  .select-seller-item {
    border-radius: 6px;
    padding: 12px;
  }
  .select-seller-items {
    margin-top: 25px;
  }
  .payment-modal-link {
    font-size: 14px;
    padding: 12px 2px;
  }
  .select-seller-link {
    margin-top: 20px;
  }
  .select-seller-items {
    padding: 0 0 8px 0;
  }
  .payment-method-track {
    gap: 10px;
  }
  .payment-modal-title {
    padding: 20px 15px;
  }
  .p-product-count-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .payment-auth-wrapper {
    flex-direction: column;
  }
  .payment-method-item{
    flex: 1 1 40%;
  }
  .payment-auth-wrapper a {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
  .payment-auth-wrapper p {
    max-width: 100%;
    font-size: 14px;
    text-align: center;
  }
  .payment-promoCode-input {
    flex-direction: column;
    border: transparent;
    gap: 10px;
  }
  .payment-promoCode-input label {
    border: 1px solid #ffffff33;
    border-radius: 5px;
  }
  .payment-promoCode-input a {
    padding: 12px 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }
  .total-payment-wrapper p {
    font-size: 18px;
    line-height: 21px;
  }
  .payment-instructions {
    padding: 10px;
    font-size: 16px;
    line-height: 21px;
  }

  .total-paid-price p {
    font-size: 20px;
    line-height: 21px;
  }
  .replenishment-amount-img {
    display: none;
  }
  .amount-money-items {
    flex-wrap: wrap;
  }
  .replenishment-amount-block {
    padding: 15px 20px;
    border-radius: 7px;
  }

  .replenishment-promoCode-input {
    margin-top: 15px;
  }
  .r-proceed-payment-link {
    font-size: 16px;
  }
  .balance-replenishment-close {
    top: 20px;
    right: 20px;
  }
}


@media screen and (max-width: 420px) {
   .payment-method-item{
    flex: 1 1 60%;
  }
}
