.seasonal-event-wrapper {
  background: #0d0d0d;
  min-height: 100%;
  overflow: hidden;
  font-family: "Gilroy", sans-serif;
}


.sozon-event-section {
  margin-top: 20px;
}
.event-container {
  max-width: 1688px;
  width: 100%;
  padding: 0 14px;
  margin: 0 auto;
}
.sozon-event-body {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.sozon-event-media {
  min-height: 615px;
  max-width: 540px;
  width: 100%;
  background: #191919;
  border-radius: 10px;
  padding: 40px 40px 32px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: max-content;
}
.sozon-event-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sozon-event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sozon-event-media p {
  font-weight: 700;
  font-size: 32px;
  line-height: 146%;
  color: #ffffff;
}
.sozon-event-media a {
  margin-top: auto;
  padding: 24px 59px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 24.03px;
  line-height: 100%;
  color: #5f4e11;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  position: relative;
  background: transparent;
  z-index: 2;
  overflow: hidden;
}
.sozon-event-media a::after {
  content: "";
  background: linear-gradient(39.97deg, #ffe073 -14.96%, #ffc700 137.97%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.3s;
  inset: 0;
  z-index: -1;
}
.sozon-event-media a:hover {
  background: #ffc700;
  color: white;
}
.sozon-event-media a:hover::after {
  opacity: 0;
}
.sozon-event-description {
  max-width: 1100px;
  width: 100%;
  padding: 50px;
  background: #1a1a1a;
  border-radius: 8px;
}
.event-description-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.event-description-header b {
  font-weight: 700;
  font-size: 32px;
  line-height: 146%;
  color: #ffffff;
}
.event-description-header p {
  font-weight: 500;
  font-size: 20px;
  line-height: 146%;
  display: flex;
  gap: 8px;
  color: #ffffff80;
}
.event-description-header p span {
  color: #ffffffb2;
}

.event-description-text {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 146%;
  color: #939393;
}

.sozon-event-items {
  margin-top: 30px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.sozon-event-item {
  background: #222222;
  border-radius: 10px;
  padding: 24px;
  flex: 1 1 30%;
}
.event-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 146%;
  color: #939393;
}
.event-item-sub-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 146%;
  margin-top: 24px;
  color: #ffffff;
}
.event-item-list {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
.event-item-list-texts {
  display: flex;
  align-items: center;
  gap: 8px;
}
.event-item-list-texts p {
  font-weight: 600;
  font-size: 30px;
  line-height: 146%;
  color: #ffffff;
}
.event-item-list-texts span {
  font-weight: 600;
  font-size: 24px;
  line-height: 146%;
  color: #ffffff66;
}

.currency-season-block {
  margin-top: 30px;
  padding: 24px 24px 13px 24px;
  background: #222222;
  border-radius: 10px;
}
.currency-season-info {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.currency-season-info-texts {
  max-width: 327px;
  width: 100%;
}
.currency-season-info-texts p {
  font-weight: 500;
  font-size: 20px;
  line-height: 146%;
  color: #939393;
}
.currency-season-info-texts span {
  margin-top: 7px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  color: #ffffff;
}

.currency-season-exchanger {
  display: flex;
  gap: 35px;
  align-items: start;
}
.exchanger-giving-title {
  text-align: end;
  font-weight: 600;
  font-size: 16px;
  line-height: 23.04px;
  color: #ffffffcc;
}
.exchanger-giving {
  padding: 10px;
  background: radial-gradient(
      121.54% 67% at 27.67% 113.33%,
      rgba(233, 80, 2, 0.2) 0%,
      rgba(233, 80, 2, 0) 100%
    ),
    linear-gradient(0deg, #1c1c1c, #1c1c1c);
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 3px;
}
.exchanger-giving label {
  max-width: 134px;
  width: 100%;
  height: 47px;
}
.exchanger-giving label input {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #08080866;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 23.04px;
  color: #ffffff;
  border: 1px solid transparent;
  transition: 0.3s;
}
.exchanger-giving label input:focus {
  border: 1px solid #ffc700;
}
.currency-season-exchanger input::-webkit-outer-spin-button,
.currency-season-exchanger input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.currency-season-exchanger input[type="number"] {
  -moz-appearance: textfield;
}
.exchanger-giving-icon {
  max-width: 35px;
  width: 100%;
}
.exchanger-giving-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.exchanger-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #141414;
  flex: 0 0 45px;
  border-radius: 4px;
  margin-top: 37px;
}
.exchanger-separator i {
  font-size: 30px;
  background: #ffffff;
}

.exchanger-receive-title {
  text-align: start;
  font-weight: 600;
  font-size: 16px;
  line-height: 23.04px;
  color: #ffffffcc;
}
.exchanger-receive {
  padding: 10px;
  background: radial-gradient(
      41.39% 109.49% at 85.95% 126.58%,
      rgba(19, 122, 190, 0.2) 0%,
      rgba(19, 122, 190, 0) 100%
    ),
    linear-gradient(0deg, #1c1c1c, #1c1c1c);
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 3px;
}
.exchanger-receive-icon {
  max-width: 31px;
  width: 100%;
}
.exchanger-receive-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exchanger-receive label {
  max-width: 134px;
  width: 100%;
  height: 47px;
}
.exchanger-receive label input {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #08080866;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 23.04px;
  color: #ffffff;
  border: 1px solid transparent;
  transition: 0.3s;
}
.exchanger-receive label input:focus {
  border: 1px solid #ffc700;
}
.currency-season-tools {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.max-value-btn {
  max-width: 207px;
  width: 100%;
  background: radial-gradient(
      121.54% 67% at 27.67% 113.33%,
      rgba(233, 80, 2, 0.2) 0%,
      rgba(233, 80, 2, 0) 100%
    ),
    linear-gradient(0deg, #1c1c1c, #1c1c1c);
  padding: 23px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  border: 1px solid transparent;
  transition: 0.3s;
  border-radius: 5px;
}
.max-value-btn:hover {
  border: 1px solid #ffc700;
  color: #ffc700;
}
.sell-​​acorns-btn {
  max-width: 735px;
  width: 100%;
  background: #1c1c1c;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  padding: 23px;
  color: #e95002;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid transparent;
}
.sell-​​acorns-btn:hover {
  border: 1px solid #ffc700;
  color: #ffc700;
}

@media screen and (max-width: 1250px) {

  .sozon-event-body {
    flex-direction: column;
  }
  .sozon-event-media {
    max-width: 100%;
  }
  .sozon-event-description {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .sozon-event-description {
    padding: 20px;
  }
  .sozon-event-item {
    flex: 1 1 60%;
  }
  .sozon-event-items {
    margin-top: 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 576px) {
  .currency-season-exchanger {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .exchanger-giving-title {
    text-align: center;
  }
  .exchanger-receive-title {
    text-align: center;
  }
  .exchanger-separator {
    margin-top: 0;
  }
  .currency-season-info-texts p {
    font-size: 16px;
    text-align: center;
  }
  .currency-season-info-texts {
    max-width: 100%;
  }
  .currency-season-info-texts span {
    font-size: 18px;
    text-align: center;
  }
  .currency-season-tools {
    flex-direction: column;
  }
  .max-value-btn {
    max-width: 100%;
    width: 100%;
  }
  .sell-​​acorns-btn {
    max-width: 100%;
    width: 100%;
  }
  .sozon-event-media p {
    font-size: 24px;
    text-align: center;
  }
  .sozon-event-media a {
    padding: 15px;
    font-size: 18px;
    max-width: 100%;
    text-align: center;
    width: 100%;
 
}
.sozon-event-media{
  min-height: 415px;
  padding: 20px;
}
.event-description-header {
    gap: 10px;
}
.event-description-header b {
    font-size: 24px;
    line-height: 126%;
}
.event-description-header p {
    font-size: 16px;

}
.event-description-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 126%;
}
.sozon-event-item{
  padding: 14px;
}
.event-item-sub-title {
    font-size: 24px;
    margin-top: 15px;
}
.event-item-list-texts p {
     font-size: 24px;
}
.event-item-list-texts span {
    font-size: 20px;

}
}
